<% layout('layouts/boilerplate')%>
    <div class="row">
        <h1 class="text-center">New Campground</h1>
        <div class="col-6 offset-3">
            <form action="/campgrounds" method="POST" novalidate class="validated-form" enctype="multipart/form-data">
                <div id="map" style="width: 100%; height: 300px; margin-bottom: 20px;"></div>
                <div class="mb-3">
                    <label class="form-label" for="title">Title</label>
                    <input class="form-control" type="text" id="title" name="campground[title]" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="location">Location</label>
                    <input class="form-control" type="text" id="location" name="campground[location]" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                
                <!-- <input type="file" name="image" id="" multiple> -->
                <!-- <div class="mb-3">
                <label class="form-label" for="image">Image Url</label>
                <input class="form-control" type="text" id="image" name="campground[image]" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div> -->
                <div class="mb-3">
                    <label class="form-label" for="price">Campground Price</label>
                    <div class="input-group">
                        <span class="input-group-text" id="price-label">$</span>
                        <input type="text" class="form-control" id="price" placeholder="0.00" aria-label="price"
                            aria-describedby="price-label" name="campground[price]" required>
                    </div>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>

                <div class="mb-3">
                    <label class="form-label" for="description">Description</label>
                    <textarea class="form-control" type="text" id="description" name="campground[description]"
                        required></textarea>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>

                <div class="mb-3">
                    <!-- <label for="">Upload Images</label> -->
                    <div class="form-file custom-file">
                        <input type="file" name="image" class="form-file-input" id="image" multiple>
                        <label for="image" class="form-file-label">
                            <span class="form-file-text custom-file-label">Choose image(s)...</span>
                            <span class="form-file-button">Browse</span>
                        </label>
                    </div>
                </div>

                <div class="mb-3">
                    <button class="btn btn-success">Add Campground</button>
                </div>
            </form>
            <a href="/campgrounds" class="btn btn-primary">All Campgrounds</a>
        </div>
    </div>

    <script src='https://cdn.maptiler.com/maplibre-gl-js/v2.4.0/maplibre-gl.js'></script>
    <link href='https://cdn.maptiler.com/maplibre-gl-js/v2.4.0/maplibre-gl.css' rel='stylesheet' />
    <script>
        const map = new maplibregl.Map({
            container: 'map',
            style: 'https://api.maptiler.com/maps/streets/style.json?key=<%- process.env.MAPTILER_TOKEN %>',
            center: [-74.5, 40],
            zoom: 9
        });

        let marker = new maplibregl.Marker({
            color: "#FF0000",
            draggable: true
        }).setLngLat([-74.5, 40]).addTo(map);

        function onDragEnd() {
            const lngLat = marker.getLngLat();
            document.getElementById('location').value = `${lngLat.lng},${lngLat.lat}`;
        }

        marker.on('dragend', onDragEnd);

        map.on('click', (e) => {
            marker.setLngLat(e.lngLat).addTo(map);
            document.getElementById('location').value = `${e.lngLat.lng},${e.lngLat.lat}`;
        });
    </script>
